.details {
	display: flex;
	flex-basis: 25%;
	align-items: center;
}

.detail--column {
	display: flex;
	margin: 0 2rem;
	padding: 1rem;
	border: 1px dotted goldenrod;
	height: fit-content;
	align-items: center;
}

.list-container {
	display: flex;
	justify-content: space-evenly;
}

.title {
	display: flex;
	justify-content: center;
}
